@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Inter:wght@200;300;400;500&display=swap');

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(100deg, #f4ffb5 0, #deffb8 12.5%, #c8ffba 25%, #b2ffba 37.5%, #9df2b9 50%, #8ae3b7 62.5%, #7bd6b5 75%, #6fcbb4 87.5%, #65c2b3 100%);
  background-position: center center;
  font-family: inter;
  font-weight: 200;
}


@keyframes progres-barre{
  0%{
    width: 100%;
    background-color: green;
  }
  10%{
    width: 90%;
  }
  20%
  {
    width: 80%;
  }
  30%
  {
    width: 70%;
  }
  40%
  {
    width: 60%;
  }
  50%{
    width: 50%;
  }
  60%
  {
    width: 40%;
  }
  70%
  {
    width: 30%;
  }
  80%
  {
    width: 20%;
  }
  90%
  {
    width: 10%;
  }
  100%{
    width: 0%;
    background-color: green;
  }
}
@keyframes transition {
  0%{
    margin-left: 20%;
    opacity: 0.1;
  }
  100%{
    margin-left: 30%;
    opacity: 1;
  }
}
@keyframes transition2 {
  0%{
    margin-right: 20%;
    opacity: 0.1;
  }
  100%{
    margin-right: 30%;
    opacity: 1;
  }
}





header
{
  width: 500px;
  height: 540px;
  background-color: white;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  animation: transition 3s;
}
header > *
{
  margin: 0px 60px;
}
header > div
{
  font-size: large;
  text-align: left;
}
header > div > input
{
  width: 420px;
  height: 30px;
  margin: 10px 0px;
  border: 0.5px solid rgba(0, 100, 100, 10%);
}
.button
{
  width: 200px;
  height: 59px;
  background-color: green;
  font-family: inter;
  border: none;
  color: white;
  font-size: 25px;
  box-shadow: 2px 1px 4px rgb(14, 12, 12);
  margin: 20px;
  font-size: large;
}


/* ici nous gérons le questionnaires */


.questions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation :transition2 0.5s;
}
form > div
{
  width: 500px;
  height: 540px;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 50px 30px;
  display: none;
}
.Défilement {
  display: block;
  border: 0px solid skyblue;
  background-color: rgba(0, 0, 0, 0.1);
  width: 490px;
  height: 10px;
  border-radius: 30px;
  margin: 10px auto;
}
.barre
{
  height: 10px;
  border-radius: 30px;
  animation: progres-barre 62s;
}
.checkBox{
  border: 1px solid skyblue;
  width: 90%;
  margin: 10px auto;
  height: 21px;
  text-align: left;
  padding: 1em;
  font-size: large;
}

/* ce code va gérer les boutons radios. Disons l'appparence. */

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid skyblue;
  border: 3px solid white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

input[type='radio']:checked {
  background: green;
  outline: 2px solid green;
  border: 4px solid green;
}


.checkBox > input{
  height: 15px;
}
.red_button{
  background-color: orange;
}
.indicateur
{
  display: flex;
  justify-content: space-between;
}


/* if user doesn't information on the case name and mail, this classes will be applied */



/* ce qui suis gerera l'affichage des résultats */



.result{
  width: 500px;
  height: 540px;
  background-color: white;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  animation: transition 0.5s;
}

.result > *{
  font-weight: 600;
  font-size: large;
}
.result > img{
  width: 300px;
}



.hide{
  display: none;
}
.erreur
{
  border: 1px solid red;
}
.red 
{
  color: red;
}
.opacity
{
  opacity: 0.3;
}

@media (max-width: 730px){


body {
    height: 200%;
    width: 100%;
    background-image: linear-gradient(100deg, #f4ffb5 0, #deffb8 12.5%, #c8ffba 25%, #b2ffba 37.5%, #9df2b9 50%, #8ae3b7 62.5%, #7bd6b5 75%, #6fcbb4 87.5%, #65c2b3 100%);
    background-position: center center;
    background-size: cover;
    font-family: inter;
    font-weight: 200;
    }


header
{
    width: 400px;
    height: 500px;
    animation: none;
}
header > *
{
    margin: 0px auto;
}
header > div
{
    font-size: large;
    text-align: left;
}
header > div > input
{
    width: 380px;
    height: 30px;
    margin: 10px 0px;
    border: 0.5px solid rgba(0, 100, 100, 10%);
}
.button
{
    width: 100px;
    height: 49px;
}


/* ici nous gérons le questionnaires */


.questions{
    width: 400px;
    height: 570px;
    padding: 20px 30px;
}
.h3
{
    font-size: medium;
}
.Défilement
{
    width: 400px;
}

.result
{
  width: 400px;
  height: 570px;
  padding: 20px 30px;
}
  .result > img 
  {
    width: 250px;
  }
    
}